.scroll-top {
  position: fixed;

  right: 15px;
  bottom: 15px;

  background: rgba(3, 3, 56);
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 10px;
  transition: all 0.4s;
  font-size: 24px;
  color: #fff;
}

.scroll-top:hover {
  background: rgb(12, 73, 73);
}
